[Desktop Entry]
Name=HackerGreen
Comment=Just a theme
Type=Theme
KPackageStructure=Plasma/WindowDecorations
X-KDE-PluginInfo-Name=HackerGreen
X-KDE-PluginInfo-Category=Window Decorations
X-KDE-PluginInfo-Author=rchars
X-KDE-PluginInfo-Version=1.0
